body {
  text-align: center;
  font-family: "Playfair Display", serif;
  background-color: #DDC8A9
}

h1 {
  margin: 0 auto;
  font-family: 'Abril Fatface';
  font-size: 48px;
  margin: 2%;
  font-weight: 30;
  color: #255440
}


h2 {
  font-size: 36px;
  font-weight: lighter;
  margin: 2%;
  color: #366147
}



.container {
  display: flex;
  justify-content: center;
  align-items: center;
}



.column {
  height: 100%;
  width: 100%;
  flex-direction: column;
}


.wrap {
  flex-wrap: wrap;
  height: 456px;
  width: 456px;
}

.square {
  border: 1px solid;
  border-color: #082828;
  font-size: 96px;
  height: 150px;
  line-height: 150px;
  user-select: none;
  width: 150px;
}

.square:hover {
  background-color: #366147;
  cursor: pointer;
}

.resetButton {
  background-color: #DDC8A9;
  border: 1px solid #366147;
  color: #366147;
  font-size: 21px;
  line-height: 55px;
  margin: 1%;
  text-align: center;
  width: 456px;
}

.resetButton:hover {
  background-color: #366147;
  color: #DDC8A9;
  cursor: pointer;
}

.turnButton {
  background-color: #DDC8A9;
  border: 1px solid #366147;
  color: #366147;
  font-size: 15px;
  line-height: 30px;
  margin: 1%;
  text-align: center;
  width: 200px;
  font-family: 'Abril Fatface';
  font-weight: lighter;
  border-radius: 50px;
}

.turnButton:hover {
  background-color: #366147;
  color: #DDC8A9;
  cursor: pointer;
}

table {
  display: inline-block;
  border-radius: 15px;
  border: 1px solid black;
  border-collapse: collapse;
}

th, td {
  padding-left: 15px;
  padding-right: 15px;
  padding-bottom: 7px;
  padding-bottom: 7px;
  font-size: 20px;
  color: #366147
}
