* {
  background-color: #5B84B1FF;
  list-style-type: none;
}

body {
  text-align: center;
  font-family: "Roboto", monospace;
}

h1 {
  margin: 0 auto;
  color: #FC766AFF;
  font-family: "Major Mono Display", monospace;
  font-size: 48px;
  margin: 2%;
}

h2 {
  color: #FC766AFF;
  font-size: 36px;
  font-weight: lighter;
  margin: 2%;
}

.count {
  color: #FC766AFF;
  padding-bottom: 1px;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.column {
  height: 100%;
  width: 100%;
  flex-direction: column;
}
g
.wrap {
  flex-wrap: wrap;
  height: 456px;
  width: 456px;
}

.square {
  color: #FC766AFF;
  border: 1px solid rgba(0, 0, 0, 0.75);
  font-size: 96px;
  height: 150px;
  line-height: 150px;
  user-select: none;
  width: 150px;
}

.square:hover {
  background-color: #FC766AFF;
  cursor: pointer;
}

#reset-button {
  background-color: #FC766AFF;
  border: 1px solid black;
  color: black;
  font-size: 21px;
  line-height: 55px;
  margin: 1%;
  text-align: center;
  width: 456px;
}

#reset-button:hover {
  background-color: black;
  color: white;
  cursor: pointer;
}

#xWinCount {
   list-style-type: none;
   float: left;
 }
#oWinCount {
   list-style-type: none;
   float: right;
 }
 #tieCount {
   list-style-type: none;
   float: right;
 }
